<nav class="navbar navbar-dark bg-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%- if current_user %>
          <%= link_to "My companies", user_companies_path(current_user), class: "nav-link" %>
        <% end %>
      <li>
    </ul>
    </ul>
    <ul class="nav navbar-nav float-xs-right">
      <%- if current_user %>
      <li class="nav-item">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
